 :root {
   --main-template-color: #911d0e;
 }

 body {
   font-family: Arial, sans-serif;
 }

 header {
   background-color: white;
   color: black;
   height: 15vh;
   border-bottom-color: var(--main-template-color);
   border-bottom-style: solid;
   display: flex;
   position: sticky;
   justify-content: center;
   align-items: center;
   padding: 50px 0;
 }

 #menu-icon {
   fill: black;
   transition: color 0.2s, transform 0.2s, opacity 0.2s;

 }

 #menu-icon:hover {
   fill: var(--main-template-color);
   transform: scale(1.2);
   opacity: 0.9;
 }

 .navbar {
   background-color: white;
   color: black;
   height: 89vh;
   position: sticky;
   top: 15vh;
 }

 .nav-link {
   color: black;
   transition: color 0.2s, transform 0.2s, opacity 0.2s;
 }

 .nav-link:hover {
   color: var(--main-template-color) !important;
   transform: scale(1.1);
   opacity: 0.9;
 }

 .student-item:hover .d-none {
   display: block !important;
   animation: show-submenu 0.3s ease-in-out forwards;
 }

 .social-icon {
   color: var(--main-template-color);
 }

 .nav-active {
   color: var(--main-template-color) !important;
   transform: scale(1.1) !important;
 }

 .btn:focus {
   box-shadow: none;
 }

 footer {
   position: relative !important;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   padding: 20px 0;
   border-top-style: solid;
   border-top-color: var(--main-template-color);
   margin-top: 2vh;
 }

 #side-nav>ul>li.nav-item.student-item>div {
   margin-left: 1vh;
 }

 #university-logo {
   height: 15vh;
   max-width: 100%;
 }

 @keyframes show-submenu {
   from {
     opacity: 0;
     transform: translateY(-3.5vh);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }

 @media (max-width: 767px) {
   .navbar {
     position: static;
     width: 100%;
     height: auto;
   }

   footer {
     position: static;
     width: auto;
   }

   header {
     padding: 0 0 !important;
     height: 10vh;
   }

   #nav-main-container {
     height: 87vh;
   }

   .nav-link {
     text-align: center;
   }

   .nav-link:hover {
     transform: scale(1.4);
     text-align: center;
   }
 }